@{
    ViewBag.Title = "Tree";
}
<form>
    <div id="menu"></div>
</form>

<link href="~/Content/Theme/Common.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme/blue/Style/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Theme/blue/Style/ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    var AppID = '@HttpContextHelper.Query["appid"]';
    var roadTree = null;
    $(function ()
    {
        loadTree();
    });
    function loadTree()
    {
        $("#menu").html('');
        roadTree = new RoadUI.Tree({ id: "menu", path: "Tree1", refreshpath: "TreeRefresh", onclick: openUrl });
    }
    function reLoad(id)
    {
        if (roadTree != null)
        {
            roadTree.refresh(id);
        }
    }
    function openUrl(json)
    {
        parent.frames[1].location = "Body?id=" + json.id + "&appid=" + AppID;
    }
</script>
