@section Css
{
    <style>
        .layui-form-label {
            width: 120px;
        }
    </style>
}


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form">
                    <div class="layui-card-header">修改密码</div>
                    <div class="layui-card-body" pad15>

                        <div class="layui-form" lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">当前密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="newPassword" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input newPassword">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="repassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input repassword">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn save" lay-filter="save" lay-submit>确认修改</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Js
{

    <script src="/js/crypto-js.min.js"></script>
    <script>
        layui.use(function () {
            var form = layui.form,
                layer = layui.layer;
            form.render();

            $('.save').click(function () {
                if ($('.newPassword').val() != $('.repassword').val()) {
                    layer.msg('新密码与确认密码不一致！', { icon: 1 });
                    return false;
                }
            });
            //提交
            form.on('submit(save)', function (obj) {
                obj.field.oldPassword = CryptoJS.MD5(obj.field.oldPassword).toString();
                obj.field.newPassword = CryptoJS.MD5(obj.field.newPassword).toString();
                layer.load(0);
                $.ajax({
                    url: '@Url.Action("SavePassword")',
                    type: 'POST',
                    data: obj.field,
                    success: function (rst) {
                        layer.closeAll();
                        if (rst) {
                            layer.msg(rst.ErrorDesc, { icon: 1 });
                            if (rst.Status) {
                                if (parent) {
                                    parent.location = '/Manage/Authorize/Quit';
                                } else {
                                    location = '/Manage/Authorize/Quit';
                                }
                            }
                        }
                    }
                });
                return false;
            });
        });
    </script>
}