.css-dl {
    top: -14px;
    left: 90px;
    background: none;
    border: none;
    box-shadow: none;
}
.css-dd {
    display: contents;
}
.css-table {
    table-layout: fixed;
}
.css-table-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.css-table tbody td {
    padding: 3px 10px !important;
}
.css-table-btn{
    height:20px !important;
    line-height:20px!important;
}
.css-min-td {
    min-width: 48px !important;
}
textarea{min-height:500px;}